<IfModule mod_rewrite.c>
    RewriteEngine On

    # Protect .env and other sensitive files
    RedirectMatch 404 ^/(vendor|storage|app|bootstrap|config|database|resources|routes)/.*

    # Rewrite all to public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
